:root {
  --neutral-900: #09153e;
  --neutral-800: #212636;
  --neutral-700: #2f364b;
  --neutral-600: #545969;
  --neutral-300: #c7c7c7;
  --neutral-200: #d6e2f5;
  --neutral-100: #ededed;
  --neutral-000: #fbfdfe;
  --red-400: #f25c54;
  --red-500: #de473f;
  --red-700: #c7221a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 12rem;
  gap: 3rem;
  background-image: linear-gradient(180deg, #040918 0%, #091540 100%);
}

header {
  background-color: var(--neutral-800);
  border-radius: 1.8rem;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.theme-container {
  background-color: var(--neutral-700);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 0 1rem;
}

.filter-section {
  display: flex;
  justify-content: space-between;
}

.filter-section h1 {
  color: var(--neutral-000);
  font-size: 2.8rem;
}

.filter-section-btns {
  flex-grow: 0.02;
  display: flex;
  justify-content: space-between;
}

.filter-section button {
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: none;
  background-color: var(--neutral-700);
  color: var(--neutral-000);
  font-size: 1.6rem;
}

.filter-section button.filter-selected-btn {
  background-color: var(--red-700);
  color: var(--neutral-900);
  font-weight: 500;
  box-shadow: 0px 0px 5px 0px var(--red-700);
}

.extension-list-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  flex-grow: 0.85;
}

.extension-card {
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-600);
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.extension-card-img-text-container {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  flex-grow: 0.8;
}

.extension-card-img-text-container h3 {
  color: var(--neutral-000);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.extension-card-img-text-container p {
  font-size: 1.6rem;
  color: var(--neutral-300);
  line-height: 1.5;
}

.extension-card-action {
  display: flex;
  justify-content: space-between;
}

.extension-card-remove {
  background-color: transparent;
  border-radius: 2rem;
  color: var(--neutral-000);
  border: 1px solid var(--neutral-600);
  padding: 1rem 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral-600);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.2rem;
  width: 2.2rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--red-400);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--red-400);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 3rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 426px) {
  html {
    font-size: 8px;
  }
  body {
    height: auto;
    padding: 1rem;
  }
  .filter-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .filter-section-btns {
    width: 100%;
    justify-content: space-evenly;
  }
  .extension-list-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .extension-card {
    gap: 2rem;
  }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
  body {
    height: 100vh;
    padding: 2rem 3rem;
  }
  .filter-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .filter-section-btns {
    width: 100%;
    justify-content: space-evenly;
  }
  .extension-list-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .extension-card {
    gap: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  body {
    height: 100vh;
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 2000px) {
  body {
    padding: 2rem 10rem;
  }
}

@media screen and (min-width: 2000px) and (max-width: 3000px) {
  body {
    padding: 2rem 40rem;
  }
}

/* THEME */
.light {
  background-image: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
}

.header-light {
  background-color: var(--neutral-000);
}

.theme-container-light {
  background-color: var(--neutral-300);
}

.filter-section-light h1 {
  color: var(--neutral-900);
  font-size: 2.8rem;
}

.filter-section button {
  background-color: var(--neutral-000);
  color: var(--neutral-700);
}

.extension-card-light {
  background-color: var(--neutral-000);
  border: 1px solid var(--neutral-300);
}

.extension-card-img-text-container-light h3 {
  color: var(--neutral-900);
}

.extension-card-img-text-container-light p {
  color: var(--neutral-600);
}

.extension-card-remove-light {
  color: var(--neutral-600);
  border: 1px solid var(--neutral-300);
}
